.ng-map-info-window {
  background-color: #fff;
  color: #000;
  border: solid 1px #ccc;
  border-radius: 3px;
}
.ng-map-info-window div:first-child > div:nth-child(1) {
  border-top-color: #ccc !important;
}
.ng-map-info-window div:first-child > div:nth-child(3) div {
  background-color: transparent !important;
}
.ng-map-info-window div:first-child > div:nth-child(4) {
  background-color: transparent !important;
}
