<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-awesome-slider/dist/css/angular-awesome-slider.min.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="softruckFoursquareApp">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" ng-controller="SideBarCtrl">
      <ul class="sidebar-nav nav">
        <li class="sidebar-brand">
          <h3>Softruck 4square</h3>
        </li>
        <li class="nav-first-level active">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group is-open="open">
              <uib-accordion-heading class="category">
                <i class="glyphicon glyphicon-flag"></i> <span class="nav-label">Distance</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
              </uib-accordion-heading>
              <div style="margin-top:10px">
                <input ng-model="radius" type="text" slider options="sliderOptions" />
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </li>

        <li class="nav-first-level active">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group is-open="open">
              <uib-accordion-heading class="category">
                <i class="glyphicon glyphicon-th-large"></i> <span class="nav-label">Categories</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
              </uib-accordion-heading>
              <ul class="nav">
                <li ng-repeat="cat in categories">
                  <a href="#/" ng-click="findByCategoryAndRadius(cat.id)">{{cat.shortName}}</a>
                </li>
            </ul>
            </uib-accordion-group>
          </uib-accordion>
        </li>

        <li class="nav-first-level active">
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group is-open="open">
              <uib-accordion-heading class="category">
                <i class="glyphicon glyphicon-fire"></i> <span class="nav-label">Hot near you</span> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
              </uib-accordion-heading>
              <ul class="nav">
                <li ng-repeat="place in TopFiveNearby">
                  <a href="#/" ng-click="markTopFiveOnMap({
                    lat: place.venue.location.lat,
                    lng: place.venue.location.lng,
                    name: place.venue.name,
                    id: place.venue.id,
                    checkins: place.venue.stats.checkinsCount,
                    users: place.venue.stats.usersCount})">{{ place.venue.name }}</a>
                </li>
              </ul>
            </uib-accordion-group>
          </uib-accordion>
        </li>

        <li class="nav-first-level">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="#/" ng-click="showHeatMap()">
                    <i class="glyphicon glyphicon-map-marker"></i> <span class="nav-label">Heat map</span></i></span>
                  </a><br />
                  <a href="#/" ng-click="cleanHeatMap()">
                    <i class="glyphicon glyphicon-map-marker"></i> <span class="nav-label">Clean Heat map</span></i></span>
                  </a>
                </h4>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div><!-- /#sidebar-wrapper -->

    <!-- Toggle menu animated icon -->
    <div class="menu-toggle-wrapper">
      <div class="toggle-menu" data-toggle-menu id="menu-toggle">
        Toggle menu
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
        <span class="menu__bar"></span>
      </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div ng-view=""></div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="bower_components/angular-awesome-slider/dist/angular-awesome-slider.js"></script>
  <script src="bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- Menu Toggle Script -->
  <script>
    $(document).ready(function() {
      $(".category").click(function(e) {
        $(this).toggleClass("active");
      });
    })
  </script>

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/routes/main-route.js"></script>
  <script src="scripts/constants/app-constants.js"></script>

  <script src="scripts/components/array.js"></script>
  <script src="scripts/components/toggle-menu-icon.js"></script>

  <script src="scripts/services/geolocation.js"></script>
  <script src="scripts/services/localsFactory.js"></script>

  <script src="scripts/controllers/sidebarCtrl.js"></script>
  <script src="scripts/controllers/mapCtrl.js"></script>
  <!-- endbuild -->

  <script src="scripts/script-tags-for-development.js"></script>

</body>

</html>
